$basic-font: "PT Mono", "Courier New", monospace;
$alternate-font: "Roboto Condensed", "Arial", sans-serif;
$logo-title-font: "Roboto", "Arial", sans-serif;

$basic-font-color: #666666;
$alternate-font-color: #ffffff;
$logo-title-font-color: #788891;
$feature-title-font-color: #00b2ff;
$footer-font-color: #1b2d37;

$basic-bg-color: #ffffff;
$alternate-bg-color: #1b2d37;
$alternate-img-bg-color: #505050;
$bg-color-blue: #00b2ff;;

$form-input-bg-color: rgba(255, 255, 255, 0.1);

$feature-color-blue: #00b2ff;

$button-color-blue: #00b2ff;
$button-close-color: #ffffff;

$border-color-gray: #EBEBEB;

$footer-border-color: rgba(98, 105, 98, 0.2);
$footer-toggle-color: #c4c4c4;

$social-icon-color: #cdcdcd;

$mobile-width: 767px;
$tablet-width: 1023px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
