.index-wrap {
  color: $alternate-font-color;

  background-color: $alternate-bg-color;

  background-image:
    url("../img/board-desktop@1x.png"),
    url("../img/triangle-double.svg"),
    url("../img/bg-header-desktop@1x.png");

  background-repeat: no-repeat;
  background-size: 705px 515px, 700px 490px, cover;
  background-position: calc(50% + 430px) 260px, calc(50% + 399px) 270px, center top;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image:
      url("../img/board-desktop@2x.png"),
      url("../img/triangle-double.svg"),
      url("../img/bg-header-desktop@2x.png");
  }
}

.main-wrap {
  background-color: $basic-bg-color;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("../img/bg-middle.svg");
}

.feedback__wrap-bg {
  max-width: 2065px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: calc(62% - 520px) 159px, calc(62% - 610px) 93px, calc(50% + 817px) 91px;
  background-size: auto, 665px 485px, 435px 520px;
  background-image: url("../img/airplane.png"), url("../img/triangle-double.svg"), url("../img/triangles.svg");
}

@media (max-width: $tablet-width) {
  .index-wrap {
    background-image:
      url("../img/board-tablet@1x.png"),
      url("../img/triangle-double.svg"),
      url("../img/bg-header-tablet@1x.png");

    background-size: 260px 340px, 480px 580px, cover;
    background-position: right 110px, calc((100% - 291px) + 465px) -16px, center top;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image:
        url("../img/board-tablet@2x.png"),
        url("../img/triangle-double.svg"),
        url("../img/bg-header-tablet@2x.png");
    }
  }

  .feedback__wrap-bg {
    background-image: none;
  }
}

@media (max-width: $mobile-width) {
  .index-wrap {
    background-image:
      url("../img/board-mobile@1x.png"),
      url("../img/triangle-double.svg"),
      url("../img/bg-header-mobile@1x.png");

    background-size: 301px 220px, 460px 510px, cover;
    // background-position: calc(50% + 15px) 95px, 170px 0, center top;
    background-position: calc(50% + 15px) 95px, calc(50% + 240px) 0, center top;


    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image:
        url("../img/board-mobile@2x.png"),
        url("../img/triangle-double.svg"),
        url("../img/bg-header-mobile@2x.png");
    }
  }
}
