.contact__title {
  @include space-reset;
  margin-bottom: 24px;

  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.contact__text {
  @include space-reset;
  padding-right: 10px;

  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  opacity: 0.5;
}

@media (max-width: $mobile-width) {
  .contact {
    padding: 29px 15px 27px 15px;
  }

  .contact__title {
    margin-bottom: 0;
  }
}
