.contact__title {
  @include space-reset;
  margin-bottom: 24px;

  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.contact__text,
.contact__link {
  @include space-reset;
  display: block;
  padding-right: 10px;

  color: $footer-font-color;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  opacity: 0.5;
}

.contact__link {
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

@media (max-width: $mobile-width) {
  .contact {
    padding: 29px 15px 27px 15px;
  }

  .contact__title {
    margin-bottom: 0;
  }
}
